<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cypher.activiti.dao.MenuMapper">

	<sql id="Base_Column_List">
		id, parent_id, name, sort, href, target, icon, is_show,
		permission,
		update_by, update_date,
		remarks, del_flag
	</sql>

	<!-- 获取所有菜单 -->
	<select id="selectAllMenuInfo" resultType="menu">
		SELECT
		<include refid="Base_Column_List"></include>
		FROM pm_sys_menu
	</select>
</mapper>